---
documentclass: 'scrbook'
classoption: 'twoside=semi'

papersize: 'a4'
geometry:
  - 'top=2.5cm'
  - 'bottom=2.5cm'
  - 'left=2.5cm'
  - 'right=2.5cm'

header-includes:
  - \usepackage{fvextra}
  - \DefineVerbatimEnvironment{Highlighting}{Verbatim}{breaklines,commandchars=\\\{\}}

mainfont: 'Montserrat'
sansfont: 'Montserrat'
monofont: 'Fira Code'
fontsize: '10pt'

toc: true
numbersections: true

title: '{{ title }}'
{% if subtitle %}subtitle: '{{ subtitle }}'{% endif %}
author:{% for author in authors %}
  - '{{ author.name }}'
{% endfor %}
date: '{{ date }}'
---
